/* styles.css */

body,
html {
  height: 100%;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  background-color: #f0f0f0;
  background-size: 100% 3072px;
}

header {
  background: #222 !important;
}

footer {
  height: 350px;
  position: relative;
  transform: translateY(-100%);
}

.wrapper-1 {
  width: 1050px;
  height: 1000px;
  margin: 0 auto;
  padding-top: 400px;
}

.wrapper-2 {
  width: 1050px;
  height: 1200px;
  margin: 0 auto;
  padding-top: 250px;
}

.sub-nav1 {
  top: 45px !important;
}

.container {
  width: 500px;
  height: 260px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}

.container-1 {
  width: 500px;
  height: 570px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}

.sns-login {
  width: 300px;
  margin: 0 auto;
}

.sns-login a {
  display: inline-block;
  margin-left: 20px;
}

.sns-login img {
  width: 50px;
}

h1 {
  color: #000;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.container a {
  width: 101px;
  display: inline-block;
}

.container a:last-child {
  float: right;
}

.container a:hover {
  text-decoration: underline;
  font-weight: bold;
}

label {
  font-weight: bold;
}

input {
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#icc {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  float: left;
}

.ica {
  width: 120px;
  float: left;
}

.ica:hover {
  font-weight: bold;
  text-decoration: underline;
}

button {
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  color: yellowgreen;
  font-weight: bold;
  background-color: #000;
}
