* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

#body-inner {
  margin-top: 50px;
}

/* header style */

header {
  width: 100%;
}

/* header-top style */

.header-top {
  height: 50px;
  font-weight: bold;
  box-sizing: border-box;
  text-align: center;
}

.header-top .header-event {
  height: 50px;
  padding: 10px;
  background: skyblue;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.header-top .header-event span {
  font-size: 18px;
  color: #fff;
}

.header-top .header-event a {
  width: 150px;
  height: 30px;
  float: right;
  display: block;
  border-radius: 5px;
  color: #eee;
  padding: 5px 10px;
  background: rgb(23, 98, 128);
  box-sizing: border-box;
}

.header-top .header-event a:hover {
  color: #fff;
  background: #44f;
}

/* header-slide style */

.banner-container {
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.banner {
  width: calc(100% * 4);
  height: 100%;
  display: flex;
  animation: animation1 10s infinite;
  /*기본 전환 animation을 위한 설정*/
  -webkit-transition: all 0.5s cubic-bezier(1, 0.01, 0.32, 1);
  -moz-transition: all 0.5s cubic-bezier(1, 0.01, 0.32, 1);
  -o-transition: all 0.5s cubic-bezier(1, 0.01, 0.32, 1);
  -ms-transition: all 0.5s cubic-bezier(1, 0.01, 0.32, 1);
  transition: all 0.5s cubic-bezier(1, 0.01, 0.32, 1);
}

.banner > div {
  width: 100%;
  height: 100%;
}

.banner > div:nth-child(1) {
  background: url(../img/slide01.png) no-repeat center;
  background-size: cover;
}

.banner > div:nth-child(2) {
  background: url(../img/slide02.png) no-repeat center;
  background-size: cover;
}

.banner > div:nth-child(3) {
  background: url(../img/slide03.png) no-repeat center;
  background-size: cover;
}

.banner > div:nth-child(4) {
  background: url(../img/slide04.png) no-repeat center;
  background-size: cover;
}

.list-button {
  width: 100%;
  height: 10px;
  display: flex;
  justify-content: center;
  margin-top: -30px;
  position: absolute;
  z-index: 2;
}

.list-button-item {
  width: 10px;
  height: 10px;
  border-radius: 5rem;
  background-color: black;
  cursor: pointer;
  display: inline-block;
  margin: 6px;
}

.list-button-item.active {
  background-color: white;
}

@keyframes animation1 {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  95% {
    margin-left: -300%;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes animation2 {
  0% {
    margin-left: -100%;
  }
  20% {
    margin-left: -100%;
  }
  25% {
    margin-left: -200%;
  }
  45% {
    margin-left: -200%;
  }
  50% {
    margin-left: -300%;
  }
  70% {
    margin-left: -300%;
  }
  75% {
    margin-left: 0;
  }
  95% {
    margin-left: 0;
  }
  100% {
    margin-left: -100%;
  }
}

@keyframes animation3 {
  0% {
    margin-left: -200%;
  }
  20% {
    margin-left: -200%;
  }
  25% {
    margin-left: -300%;
  }
  45% {
    margin-left: -300%;
  }
  50% {
    margin-left: 0;
  }
  70% {
    margin-left: 0;
  }
  75% {
    margin-left: -100%;
  }
  95% {
    margin-left: -100%;
  }
  100% {
    margin-left: -200%;
  }
}

@keyframes animation4 {
  0% {
    margin-left: -300%;
  }
  20% {
    margin-left: -300%;
  }
  25% {
    margin-left: 0;
  }
  45% {
    margin-left: 0;
  }
  50% {
    margin-left: -100%;
  }
  70% {
    margin-left: -100%;
  }
  75% {
    margin-left: -200%;
  }
  95% {
    margin-left: -200%;
  }
  100% {
    margin-left: -300%;
  }
}

/* sticky header style */

.slide-top {
  background: rgb(255, 230, 0);
  height: 70px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  position: sticky;
  top: 0px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 10;
}

.slide-top .search-box {
  width: 50%;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 20px;
  background: #fff url(../svg/icons8-돋보기.svg) no-repeat;
  background-size: 15px;
  background-position: 10px center;
  text-indent: 30px;
  font-size: 16px;
  box-sizing: border-box;
}

.slide-top .logo {
  float: left;
}

.slide-top .sign-box {
  float: right;
}

.slide-top .sign-box li {
  float: left;
}

.slide-top .sign-box li a {
  display: block;
  padding: 5px;
  color: #333;
}

.slide-top .sign-box li a:hover {
  color: #77f;
  font-weight: bold;
  text-decoration: underline;
}

.header-bottom {
  width: 100%;
  line-height: 50px;
  background: rgb(255, 230, 0);
  position: sticky;
  top: 50px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  z-index: 10;
}

.header-bottom ul {
  width: 500px;
  margin: 0 auto;
  overflow: hidden;
}

.header-bottom ul li {
  float: left;
}

.header-bottom ul li a {
  display: block;
  padding: 5px 20px;
  color: #333;
  font-weight: bold;
}

.header-bottom ul li a:hover {
  color: #77f;
  text-decoration: underline;
}

/* section-1 style */

.section-1 {
  width: 100%;
  text-align: center;
}

.s1-tt {
  padding: 0 17%;
  box-sizing: border-box;
  height: 70px;
  margin-bottom: 20px;
}

.s1-tt h2 {
  text-align: left;
  margin-top: 100px;
  margin-bottom: 10px;
}

.s1-tt span {
  color: #007aff;
}

.s1-tt p {
  float: left;
}

.s1-tt a {
  color: #888;
  float: right;
}

.post-slider {
  width: 70%;
  margin: 0px auto;
  position: relative;
}

.post-slider .silder-title {
  text-align: center;
  margin: 30px auto;
}

.post-slider .next {
  position: absolute;
  top: 50%;
  right: 30px;
  font-size: 2em;
  color: gray;
  cursor: pointer;
}

.post-slider .prev {
  position: absolute;
  top: 50%;
  left: 30px;
  font-size: 2em;
  color: gray;
  cursor: pointer;
}

.post-slider .post-wrapper {
  width: 95%;
  height: 500px;
  margin: 0px auto;
  overflow: hidden;
  padding: 10px 0px 10px 0px;
}

.post-slider .post-wrapper .post {
  width: 300px;
  height: 300px;
  margin: 0px 10px;
  display: inline-block;
  background: white;
  border-radius: 5px;
}

.post-slider .post-wrapper .post .post-info {
  font-size: 15px;
  height: 150px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #ddd;
  border-radius: 0 0 5px 5px;
  padding-top: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.post-slider .post-wrapper .post .post-info h5 {
  font-size: 12px;
  text-align: left;
}

.post-slider .post-wrapper .post .post-info h3 {
  font-size: 18px;
  margin-bottom: 5px;
  text-align: left;
}

.post-slider .post-wrapper .post .post-info p {
  text-align: left;
}

.post-slider .post-wrapper .post .slider-image {
  width: 100%;
  height: 50%;
  border-radius: 5px 5px 0 0;
}

.post-slider .post-wrapper .post .slider-image01 {
  background: url(../img/s1-1.jpg) no-repeat center;
  background-size: cover;
  display: block;
}

.post-slider .post-wrapper .post .slider-image02 {
  background: url(../img/s1-2.jpg) no-repeat center;
  background-size: cover;
  display: block;
}

.post-slider .post-wrapper .post .slider-image03 {
  background: url(../img/s1-3.jpg) no-repeat center;
  background-size: cover;
  display: block;
}

.post-slider .post-wrapper .post .slider-image04 {
  background: url(../img/s1-4.jpg) no-repeat center;
  background-size: cover;
  display: block;
}

/* section-2 Style*/

.section-2 {
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin-top: -80px;
  margin-bottom: 50px;
}

.section-2 ul {
  overflow: hidden;
  margin: 0 auto;
  width: 68%;
}

.section-2 ul li {
  float: left;
  margin-left: 20px;
  margin-bottom: 20px;
}

.section-2 ul li:first-child {
  margin-left: 0;
}

.section-2 ul li a {
  width: 350px;
  height: 220px;
  padding: 30px;
  display: block;
  color: #333;
  border: 1px solid rgb(237, 237, 237);
  border-radius: 12px;
}

.section-2 ul li h3 {
  margin-bottom: 10px;
}

.section-2 ul li a.s2-1 {
  background: url(../img/s2-1.png) no-repeat;
  background-size: 240px 160px;
  background-color: rgb(250, 250, 250);
  background-position: right bottom;
}

.section-2 ul li a.s2-2 {
  background: url(../img/s2-2.png) no-repeat;
  background-size: 240px 160px;
  background-color: rgb(250, 250, 250);
  background-position: right bottom;
}

.section-2 ul li a.s2-3 {
  background: url(../img/s2-3.png) no-repeat;
  background-size: 240px 160px;
  background-color: rgb(250, 250, 250);
  background-position: right bottom;
}

/* section-3 Style */

.section-3 {
  width: 70%;
  height: 550px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 50px !important;
}

.section-3 h2 {
  margin-top: 50px;
  font-size: 35px;
}

.section-3 ul li {
  width: 20%;
  padding: 10px;
  float: left;
  box-shadow: 2px 2px 6px #ccc;
  border-radius: 5px;
  margin: 0 2%;
}

.section-3 ul li hr.p-u {
  margin: 3px;
  height: 1px;
  border: 0;
  background: #ccc;
}

.section-3 ul li:first-child {
  margin-top: 150px;
  margin-left: 0;
  box-shadow: none;
}

.section-3 ul li:first-child h3 {
  font-size: 32px;
}

.section-3 ul li:first-child p {
  font-size: 20px;
}

.section-3 ul li:first-child p:last-child {
  margin-top: 60px;
}

.section-3 ul li:nth-child(2) {
  margin-top: 100px;
}

.section-3 ul li:nth-child(2) p:last-child {
  margin-top: 60px;
  margin-bottom: 85px;
}

.section-3 ul li:nth-child(3) {
  margin-top: 50px;
}

.section-3 ul li:nth-child(3) p:last-child {
  margin-top: 110px;
  margin-bottom: 85px;
}

.section-3 ul li:last-child {
  margin-right: 0;
  margin-top: 0;
}

.section-3 ul li:last-child p:last-child {
  margin-top: 160px;
  margin-bottom: 85px;
}

.section-3 ul li hr {
  margin: 10px 0;
}

.section-3 ul li p {
  margin-top: 20px;
}

.section-3 ul li span {
  font-weight: bold;
  float: right;
}

.section-3 ul li p:last-child {
  color: red;
}

/* section-4 Style */

.section-4 {
  width: 70%;
  height: 710px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 150px;
}

#bar-chart {
  margin-bottom: 20px;
}

.left {
  float: left;
}

.right {
  float: right;
  text-align: center;
}

.section-4 h2 {
  width: 480px;
  margin-right: 275px;
  margin-bottom: 20px;
}

.section-4 hr {
  margin: 20px 0;
}

.section-4 img {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 40px;
}

/* section-5 Style */

.section-5 {
  width: 70%;
  margin: 0 auto;
}

.section-5 h2 {
  font-size: 30px;
}

.section-5 hr {
  margin: 20px 0;
}

.pie-chart {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  transition: 0.3s;
}
span.center {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  text-align: center;
  line-height: 250px;
  font-size: 50px;
  color: #fff;
  text-shadow: 1px 1px 2px #333;
  box-shadow: -1px -1px 3px #999;
  font-weight: bold;
  transform: translate(-50%, -50%);
}

.section-5 .bottom {
  display: block;
  position: absolute;
  width: 250px;
  bottom: -20%;
  left: 50%;
  text-align: center;
  font-size: 30px;
  color: #333;
  transform: translate(-50%, 0);
}

.section-5 .pie-chart1 .center {
  background: url(../img/s5-1.jpg) no-repeat center;
  background-size: cover;
}
.section-5 .pie-chart2 .center {
  background: url(../img/s5-2.jpg) no-repeat 70%;
  background-size: cover;
}
.section-5 .pie-chart3 .center {
  background: url(../img/s5-3.jpg) no-repeat center;
  background-size: cover;
}

.section-5 ul {
  margin-top: 50px;
  overflow: hidden;
}

.section-5 ul li {
  float: left;
  margin: 7% 5%;
}

/* section-6 Style */

.section-6 {
  width: 70%;
  margin: 150px auto;
}

.s6-tt {
  box-sizing: border-box;
  height: 50px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.s6-tt h2 {
  text-align: left;
}

.s6-tt a {
  margin-top: -20px;
  color: #888;
  float: right;
}

.section-6 .img-box ul li a {
  border-radius: 15px;
  width: 60%;
  height: 500px;
  background-size: cover;
  display: block;
  position: relative;
  top: 0;
  left: 0;
}

.section-6 .img-box ul li:first-child a {
  background: url(../img/s6-1.jpg) no-repeat center;
}

.section-6 .img-box ul li a h3 {
  position: absolute;
  bottom: 10%;
  left: 35%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: #fff;
  z-index: 2;
  text-align: left;
  background: #00000080;
  padding: 0 10px;
}

.section-6 .img-box ul li a p {
  position: absolute;
  bottom: 5%;
  right: 0%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  color: white;
  z-index: 2;
  text-align: center;
  text-shadow: 1px 1px 2px #333;
  border-radius: 5px;
  background: #44f;
  padding: 5px 25px;
}

.section-6 > ul {
  width: 20px;
  overflow: hidden;
  margin: 0 auto;
}

.section-6 > ul > li {
  float: left;
}

.section-6 > ul > li > a {
  margin-top: 20px;
  display: block;
  color: #333;
  text-decoration: underline;
}

/* section-7 Style */

.section-7 {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 300px;
}

.section-7 h2 {
  font-size: 30px;
}

.section-7 ul {
  width: 100%;
  height: 100%;
  padding: 5px;
  overflow: hidden;
}

.section-7 ul li {
  float: left;
  width: 30%;
  height: 300px;
  box-shadow: 1px 2px 1px #aaa;
  border-radius: 20px;
  margin-top: 50px;
  margin-left: 5%;
}

.section-7 ul li:first-child {
  margin-left: 0;
}

.section-7 ul li a {
  box-sizing: border-box;
  padding: 20px;
  display: block;
  color: #333;
}

.section-7 ul li a h3 {
  font-size: 25px;
}

.section-7 ul li a hr {
  border: 1px solid #ddd;
  outline: none;
  margin: 20px 0;
}

.section-7 ul li a p {
  font-size: 20px;
  font-weight: bold;
  height: 50px;
}

.section-7 ul li a img {
  float: right;
  margin-top: 25%;
}

/* footer Style */

footer {
  border-top: 1px solid #aaa;
  height: 350px;
}

#footer-inner {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  top: 0;
  left: 0;
}

.ft-header {
  border-bottom: 1px solid #ddd;
  height: 50px;
}

.ft-header ul {
  width: 70%;
  overflow: hidden;
}

.ft-header ul li {
  float: left;
}

.ft-header ul li a {
  padding: 0 10px;
  display: block;
  color: #999;
  font-weight: bold;
  position: relative;
}

.ft-header ul li a:after {
  content: "";
  border: 1px solid #999;
  position: absolute;
  height: 15px;
  top: 10%;
  right: 0;
}

.ft-header ul li:last-child a:after {
  display: none;
}

.ft-header ul li:first-child a {
  padding-left: 0;
}

.ft-header .ft-sh {
  position: absolute;
  width: 25%;
  top: 15px;
  right: 13%;
}

.ft-header .ft-sh input {
  font-size: 15px;
  color: #222222;
  width: 100%;
  border: none;
  border-bottom: solid #aaaaaa 1px;
  padding-bottom: 10px;
  padding-left: 10px;
  position: relative;
  background: none;
  z-index: 5;
}

.ft-header .ft-sh input::placeholder {
  color: #aaaaaa;
}

.ft-header .ft-sh input:focus {
  outline: none;
}

.ft-header .ft-sh span {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0%; /* right로만 바꿔주면 오 - 왼 */
  background-color: #666;
  width: 0;
  height: 2px;
  border-radius: 2px;
  transition: 0.5s;
}

.ft-header .ft-sh label {
  position: absolute;
  color: #aaa;
  left: 10px;
  font-size: 12px;
  bottom: 8px;
  transition: all 0.2s;
}

.ft-header .ft-sh input:focus ~ label,
.ft-header .ft-sh input:valid ~ label {
  font-size: 10px;
  bottom: 30px;
  color: #666;
  font-weight: bold;
}

.ft-header .ft-sh input:focus ~ span,
.ft-header .ft-sh input:valid ~ span {
  width: 100%;
}

.ft-header > a {
  padding-top: 25px;
  color: #333;
  position: absolute;
  top: 10px;
  right: 4%;
  background: url(../svg/up.svg) no-repeat top left;
  background-size: 25px;
}
